ol {
	font-family: Georgia, 'Times New Roman', Times, serif;
	counter-reset: index;  
	padding: 0;
	padding-left: 50px;
	overflow: hidden;
  }
  
  /* List element */
  li {
	counter-increment: index; 
	display: flex;
	align-items: center;
	padding: 12px 0;
	box-sizing: border-box;
	font-size: 1.5em;
  }

  li:hover {
	cursor: pointer;
	font-size: 1.55em;
  }
  
  
  /* Element counter */
  li::before {
	content: counters(index, ".", decimal-leading-zero);
	font-size: 1.5rem;
	text-align: right;
	font-weight: bold;
	min-width: 50px;
	padding-right: 12px;
	font-variant-numeric: tabular-nums;
	align-self: flex-start;
	color: cornflowerblue;
  }

  li:hover::before {
	color: orangered;
	font-size: 1.55em;
  }

  